@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: rgb(55, 72, 145);
  font-family: 'Source Code Pro', monospace;
}